@media screen and (max-width: 1023px) {
    .main-body>.container>.row {
        align-items: center;
        flex-direction: column-reverse !important;
    }

    .main-body>.container>.row>* {
        margin: 10px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .hourly-card {
        width: 100% !important;
    }

    .map {
        height: 250px;
    }
}

@media screen and (max-width: 767px) {
    .map {
        display: none;
    }
}


@media screen and (max-width: 320px) {
  .searchbar {
    padding: 0 !important;
  }
}
